*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* es el 100 de la altura del dispositivo, es como que es responsivo. */
    text-align: center;
    background: url("../imagenes/fondo-pizza.jpg") no-repeat center;
    background-size: cover;
}

.container{
    display: flex ;
justify-content: center;
align-content: center;
flex-flow: row wrap;
width: 80vh;
max-width: 600px;
border : solid 4px;
background-color: white ;
}

#lista-ingredientes{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.ingrediente{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: brown;
    padding: 20px 10px;
    list-style: none;
    border-radius: 10px;
    margin: 10px;

}
/* el hover hace que los botones tengan un cambio cuando el mouse esta encima de la opcion y aparece una manito */
.ingrediente:hover{
    opacity:0.6;
    cursor: pointer;
    
}

.verdura{
    background-color: chocolate;
}
.enlace{
    border: solid 1px ;
    padding: 10px;
    background-color: rgb(128, 47, 128);
    color : white;
}
.texto-rojo{
    color:red;
}
